/*
Colors used:
Primary Colour (Light Purple): #7170B4;
Secondary Colour #3E355A;
Main Background colour (Dark Purple): #594C83;
*/

* {
  box-sizing: border-box;
}

header {
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-bottom: 3px solid #594C83;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.4);
  position: fixed;
}

.logo {
  max-width: 50px;
}

.social {
  max-width: 50px;
}

body {
  background-color: #594C83;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}

main {
  padding-top: 112px;
}


h1 {
  color: #fff;
  font-family: 'Comfortaa', sans-serif;
  font-size: 13px;
  padding: 0px 11px;
  font-weight: 300;
  line-height: 1.4;
}

h2 {
  color: #fff;
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}

h3 {
  color: #fff;
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

p {
  color: #fff;
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

nav > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  text-decoration: none;
  padding: 0 8px;
  text-transform: uppercase;
  font-weight: 700;
  color: #594C83;
  font-size: 13px;
}

ol {
  list-style-type: circle;
  color: #fff;
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  padding: 0 20px;
  width: 100%
}

img {
  width: 100%
}

svg {
  width: 100%
}

.button {
  text-decoration: none;
  display: inline-block;
  background-color: #7170B4;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #565656;
  transition: 0.2s opacity;

}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.bubble {
  animation-duration: 4s;
  animation-name: colour-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes colour-change {
  from {fill: #7170B4;}
  to {fill: #ffffff;}
}

/* Layout styling */

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: auto;
}

/* Hero section */
#hero {
  background-color: #fff;
  padding: 60px 0;
}

#hero span {
  display: block;
  font-size: 60%;
  margin-top: 0.5em;
}

#hero h1 {
  text-align: center;
  color: #594C83;
  font-family: 'Comfortaa', sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.4;
  padding: 0.65em 0;
  margin: 0;
}


/* Work section */
#work {
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

.row {
  margin: 25px 0;
}


#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #fff;
}

/* Contact */

footer {
  background-color: #3E355A;
  padding: 20px 0;
  text-align: center;
}

.Copyright p {
  font-size: 70%
}

/* About page */

#about-me {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#about-me img {
  max-width: 300px
}

#skills-tools {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}
/* Herdle*/

#herdle-overview {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#herdle-problems {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#herdle-userflow {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#herdle-user-stories {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#herdle-wireframes {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#herdle-styleguide {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#herdle-mockups {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

/* Produce*/

#produce-overview {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#produce-problems {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#produce-analysis {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#produce-jtbd {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#produce-personas {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#produce-styleguide {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#produce-userflow {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#produce-wireframes {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}

#produce-mockups {
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px; border-bottom: 1px solid #fff;
  width: 100%
}


@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main {
    padding-top: 94px
  }
  body {
    font-size: 18px
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #about-page h3 {
    margin-top: 0;}
  }

  @media only screen and (min-width: 1024px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }
    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }
    main {
      padding-top: 94px
    }
    .col-lg-7 {
      width: 60%;
    }
    .col-lg-5 {
      width: 40%;
    }
    [class*="col-"] {
      float: left;
      padding: 10px;
    }
  }

  @media only screen and (min-width: 1440px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
